<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/images/richmanpoorman.jpg" class="img-fluid rounded-start" alt=" ">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">
                    <%= item.title%>
                </h3>
                <small class="text-body-secondary">
                    <p class="card-text"><strong>by: </strong><%= item.author%>
                    </p>
                    <p class="card-text"><strong>ddc number: </strong><%= item.ddc%>
                    </p>
                    <p class="card-text"><strong>rating: </strong><%= item.rating%>/5
                    </p>
                    <p class="card-text"><strong>subject: </strong> <%= item.Subject%>
                    </p>
                </small>
            </div>
        </div>
    </div>
</div>